.jumbotron {
	background: linear-gradient(#212121, #454546);
	color: white;
	text-align: center;
	margin-bottom: 0px;	
}

#adalt img{
	padding-bottom: 10px;
	height: 100px;
	width: auto;
}

#dreta{
	position: absolute;
	background-color: red;
	width: 300px;
	height: 100%;
	right: 0px;
	top: 247px;
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    background-color: #212121;
  }

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

#section1,#section2,#section3,#section4,#section5,#section6,#section7,#section8,#section9{position:relative; height:400px; margin-left: 50px;margin-bottom: 60px; margin-top: 60px;}
#noticia{padding-top: 50px;position:absolute;height: 100%; right: 300px; left:0;border: 1px solid #CFCFCF; margin-right: 20px;
}
#publi{
	padding-top: 50px;position: absolute; height: 100%; right: 0; width: 300px;
}

#publi img{
	height: 100%;
	width: 100%;
	left: 15px;
}

#principal{
	padding-right: 0;
}

.footer{
	padding:50px 0 50px;
	margin-top:100px;
	color:#99979c;
	text-align:left;
    background-color: #1C1C1C;
    bottom:0px;
}
.footer-links{padding-left:0;margin-bottom:20px}
.footer-links li+li{margin-left:15px}
.footer-links li{display:inline-block}

#descripcio{
	font-size: 1.2vw;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
}

#img{
	padding-top: 50px;
	text-align: center;
	font-size: 1vw;
}

#img img{
	max-width: 100%;
	max-height: 100%;
    width: 100%;
}

h1{
	font-size: 2vw;
}

#boto{
	position: absolute;
	bottom:0;
	right: 0;
	border-radius: 0;
	font-size: 1.2vw;
}

#publiM{
	display: none;
}





@media (max-width: 767px) { 
	#publiM{
		position: fixed;
		height: 90px;
		width: 100%;
		bottom:0px;
		background-color: black;
		display: block;
		text-align: center;
	}

	#publiM img{
		max-height: 100%;
	}

 	#noticia{
 		right: 0px;  
 		margin: 0px;
 	}

 	#descripcio{
		font-size: 15px;
	}
 	
	#section1,#section2,#section3,#section4,#section5,#section6,#section7,#section8,#section9{
		margin-left: 0px;
		margin-top: 20px;
		height: 700px;
	}

	.footer{
    	margin-bottom: 90px;
	}

	#img{
		top:40px;
		padding-top: 0px;
		font-size: 14px;
	}

	#img img{
		width: auto;
	}

	h1{
		font-size: 30px;
	}

	#boto{
		font-size: 14px;
	}

	#principal{
		padding: 2px;
	}



}
	
